     

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <form method="post" action="/process">
        {% csrf_token %}
        {% if messages %}
        <ul class="messages">
        {% for message in messages %}
            <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
        </ul>
        {% endif %}
        <h1>Registration</h1>
        <input type="hidden" name="action" value="register">
        <ul class="list-unstyled">
            <li><label for=first>FIRST:</label>
                <input type="text" name="first_name"></li>
            <li><label for=last>LAST:</label>
                <input type="text" name="last_name"></li>
            <li><label for=email>EMAIL:</label>
                <input type="text" name="email"></li>
            <li><label for=password>PASSWORD:</label>
                <input type="password" name="password"></li>
            <li><label for=confirm>CONFIRM PASSWORD:</label>
                <input type="password" name="confirm"></li>
            <li><label for=date>BIRTHDAY:</label>
                <input type=date name=birthday></li>
        </ul>
        <input type="submit" value="Register">
    </form>
    <form method="post" action="/process">
        {% csrf_token %}
        <input type="hidden" name="action" value="login">
        <h1>Login</h1>
        <ul class="list-unstyled">
            <li><label for=email>EMAIL:</label>
                <input type="text" name="email"></li>
            <li><label for=password>PASSWORD:</label>
                <input type="password" name="password"></li>
        </ul>
        <input type="submit" value="Login">
    </form>
</body>
</html>
